.text-uinfo {
    -fx-font-family: 'Arial';
    -fx-font-size: 10;

}
.label-welcome {
    -fx-font-family: 'Intro Rust';
    -fx-font-size: 25;
    -fx-font-weight:bold;
    -fx-text-fill: #f0f5f3;
    -fx-effect: dropshadow(gaussian, #C738BD, 3, 0, 0, 0);
}
.label-welcome2 {
    -fx-font-family: 'Intro Rust';
    -fx-font-size: 15;
    -fx-font-weight:BOLD;
    -fx-text-fill: #f0f5f3;
    -fx-effect: dropshadow(gaussian, #C738BD, 6, 0, 0, 0);
}
.button-startButton {
    -fx-font-family: 'Arial';
    -fx-font-size: 12;
    -fx-font-weight:normal;
    -fx-text-fill: #050505;
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, #C738BD, 10, 0, 0, 0);
}
.button-startButton:hover {
    -fx-background-color: #c0aafb; /* Warna background button saat dihover */
}
.button-startButton:pressed {
    -fx-background-color: #ffffff; /* Warna background button saat ditekan */
}

/*  */
.label-ptIdn{
    -fx-font-family: 'Arial';
    -fx-font-size: 40;
    -fx-font-weight:bold;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(gaussian, #8b7cb3, 5, 2, 1, 1);
}
.button-ptnButton{
    -fx-font-family: 'Arial';
    -fx-font-size: 15;
    -fx-font-weight:bold;
    -fx-text-fill: #1e1e1e;
    -fx-background-color: #ffffff;
    -fx-background-radius: 10; 
    -fx-effect: dropshadow(gaussian, #ffffff, 8, 0, 0, 0);
}
.button-ptnButton:hover {
    -fx-text-fill: #a96d6d; /* Warna background button saat dihover */
}
.button-ptnButton:pressed {
    -fx-text-fill: #ffffff; /* Warna background button saat ditekan */
    -fx-background-color: #5959a0
}
.button-ptsButton{
    -fx-font-family: 'Arial';
    -fx-font-size: 14;
    -fx-font-weight:bold;
    -fx-text-fill: #1e1e1e;
    -fx-background-color: #ffffff;
    -fx-background-radius: 10; /* Radius lengkungan button */
    -fx-effect: dropshadow(gaussian, #ffffff, 8, 0, 0, 0)
}
.button-ptsButton:hover {
    -fx-text-fill: #a96d6d; /* Warna background button saat dihover */
}
.button-ptsButton:pressed {
    -fx-text-fill: #ffffff; 
    -fx-background-color: #5959a0; /* Warna background button saat ditekan */
}
/*  */
.label-hlptn{
    -fx-font-family: 'Arial';
    -fx-font-size: 50;
    -fx-font-weight:bold;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(gaussian, #5959a0, 3, 1, 1, 1);
}
.button-buttonTriuniv{
    -fx-font-family: 'Lato';
    -fx-font-size: 13;
    -fx-font-weight:bold;
    -fx-text-fill: #1e1e1e;
    -fx-background-color: #ffffff;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, #ffffff, 5, 0, 0, 0);

}
.button-buttonTriuniv:hover{
    -fx-text-fill: #BB9CC0
}
.button-buttonTriuniv:pressed {
    -fx-text-fill: #ffffff; 
    /* -fx-background-color: #8d9697;  */
    -fx-background-color: #acb9bb;
}
/*  */
.label-tritwounivhl{
    -fx-font-family: 'Arial';
    -fx-font-size: 25;
    -fx-font-weight:bold;
    -fx-text-fill: #ffffff;
}
.label-lokasiuniv{
    -fx-font-family: 'Arial';
    -fx-font-size: 12;
    -fx-font-weight:normal;
    -fx-text-fill: #ffffff;
}
.button-statusptn{
    -fx-font-family: 'Arial';
    -fx-font-size: 8;
    -fx-font-weight:bold;
    -fx-text-fill: #ffffff;
    background-color: transparent;
    -fx-background-color: transparent;
    border-color: #E49BFF;
    -fx-border-color: #E49BFF;
    -fx-border-radius: 10;
}
.button-fiturugm{
    -fx-font-family: 'Arial';
    -fx-font-size: 18;
    -fx-font-weight:BOLD;
    -fx-text-fill: #000000;
    -fx-background-color: #ffffff;
    -fx-background-radius: 20; /* Radius lengkungan button */
    -fx-padding: 10 20 10 20; 
    -fx-effect: dropshadow(gaussian, #fbfbff, 5, 0, 0, 0);
}
.button-fiturugm:hover {
    -fx-text-fill: #76453B; 
}
.button-fiturugm:pressed {
    -fx-text-fill: #ffffff; 
    /* -fx-background-color: #FFF8E3; */
}
.button-fiturUh{
    -fx-font-family: 'Arial';
    -fx-font-size: 18;
    -fx-font-weight:BOLD;
    -fx-text-fill: #000000;
    -fx-background-color: #ffffff;
    -fx-background-radius: 20; /* Radius lengkungan button */
    -fx-padding: 10 20 10 20;
    -fx-effect: dropshadow(gaussian, #fbfbff, 5, 0, 0, 0);
}
.button-fiturUh:hover {
    -fx-text-fill: #A0153E; /* Warna background button saat dihover */
} 
.button-fiturUh:pressed {
    -fx-text-fill: #ffffff;
}
.button-fiturunm{
    -fx-font-family: 'Arial';
    -fx-font-size: 18;
    -fx-font-weight:BOLD;
    -fx-text-fill: #000000;
    -fx-background-color: #ffffff;
    -fx-background-radius: 20; /* Radius lengkungan button */
    -fx-padding: 10 20 10 20;
    -fx-effect: dropshadow(gaussian, #fbfbff, 5, 0, 0, 0);
}
.button-fiturunm:hover {
    -fx-text-fill: #F1EF99; 
}
.button-fiturunm:pressed {
    -fx-text-fill: #ffffff; 
}
/*  */
.label-hlpts{
    -fx-font-family: 'Arial';
    -fx-font-size: 40;
    -fx-font-weight:bold;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(gaussian, #5959a0, 3, 1, 1, 1);
}
.button-buttonTwouniv{
    -fx-font-family: 'Lato';
    -fx-font-size: 11;
    -fx-font-weight:bold;
    -fx-text-fill: #1e1e1e;
    -fx-background-color: #ffffff;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, #ffffff, 5, 0, 0, 0);
}
.button-buttonTwouniv:hover{
    -fx-text-fill: #BB9CC0
}
.button-buttonTwouniv:pressed {
    -fx-text-fill: #ffffff; 
    -fx-background-color: #acb9bb;
}
.button-fiturumi{
    -fx-font-family: 'Arial';
    -fx-font-size: 18;
    -fx-font-weight:bold;
    -fx-text-fill: #000000;
    -fx-background-color: #ffffff;
    -fx-background-radius: 20; /* Radius lengkungan button */
    -fx-padding: 10 20 10 20;
    -fx-effect: dropshadow(gaussian, #fbfbff, 5, 0, 0, 0);
}
.button-fiturumi:hover{
    -fx-text-fill:#0A6847;
}
.button-fiturunm:pressed {
    -fx-text-fill: #ffffff; /* Warna background button saat ditekan */
}
.button-fiturunibos{
    -fx-font-family: 'Arial';
    -fx-font-size: 18;
    -fx-font-weight:bold;
    -fx-text-fill: #000000;
    -fx-background-color: #ffffff;
    -fx-background-radius: 20; /* Radius lengkungan button */
    -fx-padding: 10 20 10 20;
    -fx-effect: dropshadow(gaussian, #fbfbff, 5, 0, 0, 0);
}
.button-fiturunibos:hover{
    -fx-background-color:#002379;
}
.button-fiturunibos:pressed {
    -fx-background-color: #ffffff; /* Warna background button saat ditekan */
}
/*  */
.button-backbutton{
    -fx-font-family: 'Arial';
    -fx-font-size: 13;
    -fx-font-weight:normal;
    -fx-text-fill: #000000;
    -fx-background-color: #ffffff;
    -fx-background-radius: 7; /* Radius lengkungan button */
    /* -fx-padding: 10 20 10 20; */
    -fx-effect: dropshadow(gaussian, #ffffff, 5, 0, 0, 0);
}
.button-backbutton:hover {
    -fx-text-fill: #E49BFF; 
}
.button-backbutton:pressed {
    -fx-text-fill: #ffffff; 
}
.label-ptnbhstatushl {
    -fx-font-family: 'Intro Rust';
    -fx-font-size: 25;
    -fx-font-weight:BOLD;
    -fx-text-fill: #f0f5f3;
    -fx-effect: dropshadow(gaussian, #C738BD, 6, 0, 0, 0);
}
.text-aboutptnbh1{
    -fx-font-family: 'Intro Rust';
    -fx-font-size: 17;
    -fx-font-weight:BOLD;
    -fx-text-fill: #f0f5f3;
    -fx-effect: dropshadow(gaussian, #C738BD, 6, 0, 0, 0);
}
.text-aboutptnbh2{
    -fx-font-family: 'Intro Rust';
    -fx-font-size: 15;
    -fx-font-weight:normal;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(gaussian, #C738BD, 6, 0, 0, 0);
}
.text-aboutptnbh3{
    -fx-font-family: 'Intro Rust';
    -fx-font-size: 12;
    -fx-font-weight:normal;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow(gaussian, #ffffff, 3, 1, 0, 0);
}
.text-ptnbh4{
    -fx-font-family: 'Intro Rust';
    -fx-font-size: 12;
    -fx-font-weight:normal;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(gaussian, #C738BD, 6, 0, 0, 0);
}


.button-kirimpesan{
    -fx-background-color: transparent;
    -fx-padding: 15px;
    -fx-border-radius: 5px;
    -fx-margin-bottom: 10px;
    -fx-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
}

.transparent-like-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-insets: 0;
}

.button-kirimpesan{
    -fx-background-color: transparent;
    -fx-padding: 15px;
    -fx-border-radius: 5px;
    -fx-margin-bottom: 10px;
    -fx-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
}

.like-button {
    -fx-background-color: transparent;
    -fx-text-fill: blue;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}